.logo__container {
  position: relative;
  padding: 0 5vw;
  //padding: 0 15px;
  width: 100%;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: @white;
    transform: translateX(-101%);

    animation: line-bezier 1.5s cubic-bezier(.77, 0, .18, 1) forwards;
    animation-delay: 3.4s;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: @violet;
    transform: translateX(-101%);

    animation: line-bezier 1.5s cubic-bezier(.77, 0, .18, 1) forwards;
    animation-delay: 4.5s;
  }
}

.logo {
  margin-bottom: 4px;
  font-family: "Gotham", "Arial", sans-serif;
  font-weight: 700;
  font-size: 11vw;
  color: @white;
  letter-spacing: -0.4vw;
  //letter-spacing: -1.1px;

  opacity: 0;
  animation-name: opacity;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 4.1s;
}

.logo__violet {
  color: @white;

  animation-name: refill;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 4.8s;
}

.logo__hidden {
  position: relative;
  display: inline-block;
  width: 7vw;
  height: 100%;

  &--smoke {
    color: transparent;
    background: url("../img/logo-letter.png") no-repeat center 70%;
    background-size: 7vw;

    animation-name: rotate;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 50% 60%;
  }

  &--smoke::before {
    content: "";
    position: absolute;
    top: 5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background: url("../img/logo-letter.png") no-repeat center;
    background-size: 6vw;

    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &--smoke::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5%;
    width: 120%;
    height: 120%;
    background: url("../img/logo-letter.png") no-repeat center;
    background-size: 7vw;

    animation-name: rotate;
    animation-duration: 5.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@media @tablet-widths {
  .logo__container {
    padding: 0 6vw;
  }
}

@media @desktop-widths {
  .logo__container {
    padding: 0 8vw;
  }

  .logo {
    margin-left: -6px;
    margin-bottom: 15px;
    font-size: 6.3vw;
    //font-size: 120px;
    letter-spacing: -0.15vw;
    //letter-spacing: -2.8px;
  }

  .logo__hidden {
    width: 4vw;
    //width: 70px;

    &--smoke {
      background-size: 4.2vw;
      //background-size: 80px;
    }

    &--smoke::before {
      left: -3%;
      background-size: 4vw;
      //background-size: 70px;
    }

    &--smoke::after {
      left: -3%;
      background-size: 4.2vw;
      //background-size: 80px;
    }
  }
}