.mini-logo {
  display: flex;
  align-items: center;
  font-family: "Gotham", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: @white;
  opacity: 0;

  animation-name: opacity;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
  //animation-delay: 3.8s;
}

.mini-logo__thin {
  position: relative;
  padding-left: 50px;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: -0.2px;
  opacity: 0;
  transform: translateX(-30%);

  animation-name: opacity-translateX;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  //animation-delay: 4.1s;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 13px;
    width: 23px;
    height: 2px;
    background: @white;
    transform: translateY(-15%);
    opacity: 0;

    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    //animation-delay: 5s;
  }
}

@media @tablet-widths {
  .mini-logo {
    font-size: 48px;
  }

  .mini-logo__thin {
    padding-left: 120px;
    font-size: 20px;

    &::before {
      left: 36px;
      width: 48px;
    }
  }
}

@media @desktop-widths {
  .mini-logo {
    font-size: 32px;
  }

  .mini-logo__thin {
    padding-left: 105px;
    font-size: 18px;
    letter-spacing: -0.1px;

    &::before {
      left: 23px;
      width: 51px;
    }
  }
}