.section-title {
  margin-bottom: 8px;
  font-family: "Gotham", "Arial", sans-serif;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -0.5px;
  color: @white;
}

.section-title__violet-slash {
  color: @violet;
}