.timeline {
  width: 100%;
}

.timeline__item {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  padding-left: 36px;
}

.timeline__year {
  margin-right: 30px;
  width: 100px;
  font-family: "Gotham", "Arial", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: fade(@white, 50%);
}

.timeline__white-text {
  margin-bottom: 8px;
  width: 40%;
  font-family: "Gotham", "Arial", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: @white;
}

.timeline__violet-text {
  margin-left: 130px;
  font-family: "Gotham", "Arial", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  color: @violet;
}

.timeline__white-small-text {
  font-family: "Gotham", "Arial", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  color: @white;
}